/* Langó Gergő Máté */

/* Betűtípusok */
.montserrat-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.montserrat-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: auto;
    width: auto;
}

/* Felső sor */
#top-bar{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50px;
    width: auto;

    background-color: rgb(236, 236, 236);
}

#kando-title{
    margin-left: 20px;
    border: 0px;
    padding: 0px;

    height: 50px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

/* Header */
header{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 150px;
    width: auto;

    background-color: rgb(43, 43, 43);
}

#header-top{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
 
    font-size: 30px;
    color: white;
}

.header-icon{
    margin: 0px;
    margin-right: 15px;
    border: 0px;
    padding: 0px;

    height: 30px;
    width: auto;
}

#header-bottom{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */

.header-buttons{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 75px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;

    font-size: 20px;
    color: white;

    text-decoration: none;
}

.header-buttons:hover{
    background-color: rgb(81, 81, 81);
}

.header-button-icon{
    margin: 0px;
    margin-right: 15px;
    border: 0px;
    padding: 0px;

    height: 20px;
    width: 20px;
}

/* Dropdown button */

.dropdown{
    margin: 0px;
    border: 0px;
    padding: 0px;

    display: inline-block;
}

.dropdown buttton{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(43, 43, 43);
    min-width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 25px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown a:hover{
    background-color: rgb(81, 81, 81);
}

#pdf-reader{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 1000px;
    width: 100%;
}
