.dela-gothic-one-regular{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: auto;
    width: auto;
}

#top-bar{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50px;
    width: auto;

    background-color: rgb(236, 236, 236);
}

#build-version-counter{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

header{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 150px;
    width: auto;
}

#header-top{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: coral;

    font-size: 30px;
}

#header-bottom{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 180, 153);
}

.header-buttons{
    margin: 10px;
    border: 0px;
    padding: 0px;

    height: 40px;
    width: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: coral;

    font-size: 20px;
}

/*
#header-button-1{
    background-color: teal;
}
#header-button-2{
    background-color: red;
}
#header-button-3{
    background-color: blue;
}
#header-button-4{
    background-color: yellow;
}
*/

.header-button-icon{
    margin: 0px;
    margin-right: 15px;
    border: 0px;
    padding: 0px;

    height: 20px;
    width: 20px;
}