/* Langó Gergő Máté */

/* Betűtípusok */
.montserrat-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.montserrat-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: auto;
    width: auto;
}

/* Felső sor */
#top-bar{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50px;
    width: auto;

    background-color: rgb(236, 236, 236);
}

#kando-title{
    margin-left: 20px;
    border: 0px;
    padding: 0px;

    height: 50px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

/* Header */
header{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 150px;
    width: auto;

    background-image: url(img/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header-top{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
 
    font-size: 30px;
    color: black;
}

.header-icon{
    margin: 0px;
    margin-right: 15px;
    border: 0px;
    padding: 0px;

    height: 30px;
    width: auto;
}

#header-bottom{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 50%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 75px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;

    font-size: 20px;
    color: black;

    text-decoration: none;
}

.header-button-icon{
    margin: 0px;
    margin-right: 15px;
    border: 0px;
    padding: 0px;

    height: 20px;
    width: 20px;
}






/* PDF READER

#pdf-reader{
    margin: 0px;
    border: 0px;
    padding: 0px;

    height: 1000px;
    width: 100%;
}
*/